{% extends "base.html" %} {% block title%}{{ title }}{% endblock %} {% block
content %}

<div>
  <h2>List of Cards</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Lang</th>
        <th>word</th>
        <th>func</th>
        <th>meaning</th>
        <th>learnt</th>
        <th>difficulty</th>
        <th>created</th>
      </tr>
    </thead>
    <tbody>
      {% for card in cards %}
      <tr>
        <td>{{ card.id }}</td>
        <td>{{ card.lang }}</td>
        <td>{{ card.word }}</td>
        <td>{{ card.func }}</td>
        <td>{{ card.meaning }}</td>
        <td>{{ card.learnt }}</td>
        <td>{{ card.difficulty }}</td>
        <td>{{ card.created_at }}</td>
        <td><a href="{{ url_for('edit_card', id=card.id) }}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
