{% extends "base.html" %}
{% block title%}{{ title }}{% endblock %}
{% set weekday_list = ['月', '火', '水', '木', '金', '土', '日'] %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/icon.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('list_cards') }}">List</a>
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </div>
                <div class="navbar-bav ms-auto me-3">
                    <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <h2>List of Cards</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Lang</th>
                    <th>word</th>
                    <th>func</th>
                    <th>meaning</th>
                    <th>learnt</th>
                    <th>difficulty</th>
                    <th>created</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    <td>{{ card.id }}</td>
                    <td>{{ card.lang }}</td>
                    <td>{{ card.word }}</td>
                    <td>{{ card.func }}</td>
                    <td>{{ card.meaning }}</td>
                    <td>{{ card.learnt }}</td>
                    <td>{{ card.difficulty }}</td>
                    <td>{{ card.created_at }}</td>
                    <td><a href="{{ url_for('edit_card', id=card.id) }}" >Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}